ALLDEVICE_BASE_URL=https://example/api/downtime
ALLDEVICE_TASKREPORTS_URL=https://example/api/taskreports
ALLDEVICE_USERNAME=your-user
ALLDEVICE_PASSWORD=your-password
ALLDEVICE_API_KEY=your-api-key
DEFAULT_DATE_START=2023-01-01
DEFAULT_DATE_END=2026-12-31
TASKREPORTS_DATE_TYPE=completed_date
DEFAULT_LOCALE=lv
