ALLDEVICE_API_BASE_URL=https://example
ALLDEVICE_USERNAME=your-user
ALLDEVICE_PASSWORD=your-password
ALLDEVICE_API_KEY=your-api-key
ALLDEVICE_DOWNTIME_PATH=/api/downtimes/list
ALLDEVICE_TASKREPORTS_PATH=/api/taskreports/list
DEFAULT_DATE_START=2023-01-01
DEFAULT_DATE_END=2026-12-31
TASKREPORTS_DATE_TYPE=completed_date
DEFAULT_LOCALE=lv
